{{#if places}}

  {{#each places as |place|}}
    {{#if place.distanceFromPrevious}}
      <div class="distance-from">

        {{place.distanceFromPrevious}} miles <i class="fas fa-arrows-alt-v"></i>
      </div>
    {{/if}}

    <div class="card" id="{{_id}}">
      <span class="cardtitle noselect"><h3>{{place.name}}
            <i class="fas fa-info-circle show-place" data-showid="{{place._id}}" style="cursor: pointer; text-align: right;"></i>
      </h3></span>
      <h5>
        {{#if place.city}}
          {{place.city}},
        {{/if}}
          {{place.country}}
      </h4>

</div>
{{/each}}
{{/if}}
