
{{#if places}}

    {{#each places as |place|}}

<div class="card" id="{{_id}}">
  {{#if place.distanceFromPrevious}}
  <div class="distance-from-above">
      Distance from {{place.previousPlace}} <i class="fas fa-arrow-up" style="font-size: 14px;"></i>: {{place.distanceFromPrevious}} miles
    </div>
  {{/if}}
  <span class="cardtitle noselect"><h4>{{place.name}}</h4></span>
  <h6>{{place.country}}</h5>

</div>
{{/each}}
{{/if}}
